{% extends "layout.html" %}
{%block content %}
<section class="features section text-center">
                <div class="container">
                    <div class="features-inner section-inner has-top-divider">
                        <h2 class="section-title mt-0" style="color:#fff"><b>School Recommendations<b></h2>
                        <div class="features-wrap">
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <svg width="48" height="48" xmlns="http://www.w3.org/2000/svg">
                                            <g fill="none" fill-rule="evenodd">
                                                <path fill="#84E482" d="M48 16v32H16z"/>
                                                <path fill="#0EB3CE" d="M0 0h32v32H0z"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <h4 class="feature-title h3-mobile">Lorem Ipsum</h4>
                                    <p class="text-sm">often arouses curiosity due to its resemblance to classical latin</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <svg width="48" height="48" xmlns="http://www.w3.org/2000/svg">
                                            <g fill="none" fill-rule="evenodd">
                                                <path fill="#84E482" d="M48 16v32H16z"/>
                                                <path fill="#0EB3CE" d="M0 0v32h32z"/>
                                                <circle fill="#02C6A4" cx="29" cy="9" r="4"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <h4 class="feature-title h3-mobile">Lorem Ipsum</h4>
                                    <p class="text-sm">often arouses curiosity due to its resemblance to classical latin</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <svg width="48" height="48" xmlns="http://www.w3.org/2000/svg">
                                            <g fill="none" fill-rule="evenodd">
                                                <path fill="#0EB3CE" d="M0 0h32v32H0z"/>
                                                <path fill="#84E482" d="M16 16h32L16 48z"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <h4 class="feature-title h3-mobile">Lorem Ipsum</h4>
                                    <p class="text-sm">often arouses curiosity due to its resemblance to classical latin</p>
                                </div>
                            </div>
                            <div class="feature is-revealing">
                                <div class="feature-inner">
                                    <div class="feature-icon">
                                        <svg width="48" height="48" xmlns="http://www.w3.org/2000/svg">
                                            <g fill="none" fill-rule="evenodd">
                                                <path d="M32 40H0c0-8.837 7.163-16 16-16s16 7.163 16 16z" fill="#84E482" style="mix-blend-mode:multiply"/>
                                                <path fill="#03C5A4" d="M12 8h8v8h-8z"/>
                                                <path fill="#0EB3CE" d="M32 0h16v48H32z"/>
                                            </g>
                                        </svg>
                                    </div>
                                    <h4 class="feature-title h3-mobile">Lorem Ipsum</h4>
                                    <p class="text-sm">often arouses curiosity due to its resemblance to classical latin</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
<section class="pricing section">
                <div class="container">
                    <div class="pricing-inner section-inner has-top-divider">
                        <h1 class="section-title mt-0 text-center">Search Tool</h1>
                        <div class="pricing-tables-wrap">
                            <div class="pricing-table is-revealing">
                                <div class="pricing-table-inner">
                                    <div class="pricing-table-main">
                                        <div class="pricing-table-header">
                                            <div class="pricing-table-title mt-12 mb-16 text-secondary">Lorem ipsum</div>
                                            <div class="pricing-table-price mb-24 pb-32"><span class="pricing-table-price-currency h3">$</span><span class="pricing-table-price-amount h1">29</span></div>
                                        </div>
                                        <ul class="pricing-table-features list-reset text-xs mb-56">
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00C6A7" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Sed do eiusmod tempor cesa.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00C6A7" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Sed do eiusmod tempor cesa.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00C6A7" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Sed do eiusmod tempor cesa.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pricing-table-cta">
                                        <a class="button button-secondary button-block" href="#">Get started now</a>
                                    </div>
                                </div>
                            </div>
                            <div class="pricing-table is-revealing">
                                <div class="pricing-table-inner">
                                    <div class="pricing-table-main">
                                        <div class="pricing-table-header">
                                            <div class="pricing-table-title mt-12 mb-16 text-primary">Lorem ipsum</div>
                                            <div class="pricing-table-price mb-24 pb-32"><span class="pricing-table-price-currency h3">$</span><span class="pricing-table-price-amount h1">129</span></div>
                                        </div>
                                        <ul class="pricing-table-features list-reset text-xs mb-56">
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00A2B8" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Sed do eiusmod tempor cesa.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00A2B8" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Sed do eiusmod tempor cesa.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00A2B8" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Sed do eiusmod tempor cesa.</span>
                                            </li>
                                            <li>
                                                <span class="list-icon">
                                                    <svg width="16" height="12" xmlns="http://www.w3.org/2000/svg">
                                                        <path d="M14.3.3L5 9.6 1.7 6.3c-.4-.4-1-.4-1.4 0-.4.4-.4 1 0 1.4l4 4c.2.2.4.3.7.3.3 0 .5-.1.7-.3l10-10c.4-.4.4-1 0-1.4-.4-.4-1-.4-1.4 0z" fill="#00A2B8" fill-rule="nonzero"/>
                                                    </svg>
                                                </span>
                                                <span>Sed do eiusmod tempor cesa.</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="pricing-table-cta">
                                        <a class="button button-primary button-block" href="#">Get started now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

{%endblock%}