{% extends "layout.html" %}
{%block content %}
            <section class="hero text-light text-center">
                <div class="container-sm">
                    <div class="hero-inner">
                        <h1 class="hero-title h2-mobile mt-0 is-revealing">Campus Now</h1>
                        <p class="hero-paragraph is-revealing">You're not sure where to begin your search for a college. Let us assist you.</p>
                        <p class="hero-cta is-revealing"><a class="button button-secondary button-shadow" href="{{ url_for('registration') }}">Get started now</a></p>
                        <div class="hero-media">
                            <img src ="static/img/swarthmore-college.jpg" alt = "Sawrthmore College"></img>
                        </div>
                    </div>
                </div>
            </section>
            <section class="features-extended section">
                <div class="container">
                    <div class="features-extended-inner section-inner has-top-divider">
                        <div class="features-extended-header text-center">
                            <div class="container-sm">
                                <h2 class="section-title mt-0">Problem</h2>
                                <p class="section-paragraph">Students in high school often base their searches on the colleges they already know because it is difficult for them to find detailed information about other colleges.</p>
                            </div>
                            <hr>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <svg width="480" height="360" viewBox="0 0 480 360" xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                        <filter x="-500%" y="-500%" width="1000%" height="1000%" filterUnits="objectBoundingBox" id="dropshadow-1">
                                            <feOffset dy="16" in="SourceAlpha" result="shadowOffsetOuter"/>
                                            <feGaussianBlur stdDeviation="24" in="shadowOffsetOuter" result="shadowBlurOuter"/>
                                            <feColorMatrix values="0 0 0 0 0.12 0 0 0 0 0.17 0 0 0 0 0.21 0 0 0 0.2 0" in="shadowBlurOuter"/>
                                        </filter>
                                    </defs>
                                    <path fill="#F6F8FA" d="M0 220V0h200zM480 140v220H280z"/>
                                    <path fill="#FFF" d="M40 50h400v260H40z" style="mix-blend-mode:multiply;filter:url(#dropshadow-1)"/>
                                    <path fill="#FFF" d="M40 50h400v260H40z"/>
                                    <path fill="#FFF" d="M103 176h80v160h-80zM320 24h88v88h-88z" style="mix-blend-mode:multiply;filter:url(#dropshadow-1)"/>
                                    <path fill="#FFF" d="M103 176h80v160h-80zM320 24h88v88h-88z"/>
                                    <path fill="#FFF" d="M230.97 198l16.971 16.971-16.97 16.97L214 214.972z" style="mix-blend-mode:multiply;filter:url(#dropshadow-1)"/>
                                    <path fill="#803bb3" d="M230.97 198l16.971 16.971-16.97 16.97L214 214.972z"/>
                                    <path fill="#FFF" d="M203 121H103v100z" style="mix-blend-mode:multiply;filter:url(#dropshadow-1)"/>
                                    <path fill="#1E4D92" d="M203 121H103v100z"/>
                                    <circle fill="#FFF" cx="288" cy="166" r="32" style="mix-blend-mode:multiply;filter:url(#dropshadow-1)"/>
                                    <circle fill="#bb44c6" cx="288" cy="166" r="32" style="mix-blend-mode:multiply"/>
                                </svg>
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Mission</h3>
                                <p>Our goal is to assist students in finding the best colleges for them. Each year, many students, both in the US and overseas, use our platform to select their schools. Sincere to say, nothing makes us happier than when students appreciate the work we do!</p>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <svg width="480" height="360" viewBox="0 0 480 360" xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                        <filter x="-500%" y="-500%" width="1000%" height="1000%" filterUnits="objectBoundingBox" id="dropshadow-2">
                                            <feOffset dy="16" in="SourceAlpha" result="shadowOffsetOuter"/>
                                            <feGaussianBlur stdDeviation="24" in="shadowOffsetOuter" result="shadowBlurOuter"/>
                                            <feColorMatrix values="0 0 0 0 0.12 0 0 0 0 0.17 0 0 0 0 0.21 0 0 0 0.2 0" in="shadowBlurOuter"/>
                                        </filter>
                                    </defs>
                                    <path fill="#F6F8FA" d="M480 140v220H280zM0 220V0h200z"/>
                                    <path fill="#FFF" d="M40 50h400v260H40z" style="mix-blend-mode:multiply;filter:url(#dropshadow-2)"/>
                                    <path fill="#FFF" d="M40 50h400v260H40z"/>
                                    <path fill="#FFF" d="M86.225 161l62.226 62.225-62.226 62.225L24 223.225zM296 176h80v160h-80z" style="mix-blend-mode:multiply;filter:url(#dropshadow-2)"/>
                                    <path fill="#FFF" d="M86.225 161l62.226 62.225-62.226 62.225L24 223.225zM296 176h80v160h-80z"/>
                                    <path fill="#FFF" d="M245.092 218l9.378 22.092-22.093 9.378L223 227.378z" style="mix-blend-mode:multiply;filter:url(#dropshadow-2)"/>
                                    <path fill="#803bb3" d="M245.092 218l9.378 22.092-22.093 9.378L223 227.378z"/>
                                    <path fill="#FFF" d="M270 96H170v100z" style="mix-blend-mode:multiply;filter:url(#dropshadow-2)"/>
                                    <path fill="#1E4D92" d="M270 96H170v100z"/>
                                    <circle fill="#FFF" cx="296" cy="177" r="32" style="mix-blend-mode:multiply;filter:url(#dropshadow-2)"/>
                                    <circle fill="#bb44c6" cx="296" cy="177" r="32" style="mix-blend-mode:multiply"/>
                                </svg>
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Search</h3>
                                <p>Our easy-to-use College Search tools, college profiles, and lists help students to find their perfect school.</p>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <svg width="480" height="360" viewBox="0 0 480 360" xmlns="http://www.w3.org/2000/svg">
                                    <defs>
                                        <filter x="-500%" y="-500%" width="1000%" height="1000%" filterUnits="objectBoundingBox" id="dropshadow-3">
                                            <feOffset dy="16" in="SourceAlpha" result="shadowOffsetOuter"/>
                                            <feGaussianBlur stdDeviation="24" in="shadowOffsetOuter" result="shadowBlurOuter"/>
                                            <feColorMatrix values="0 0 0 0 0.12 0 0 0 0 0.17 0 0 0 0 0.21 0 0 0 0.2 0" in="shadowBlurOuter"/>
                                        </filter>
                                    </defs>
                                    <path fill="#F6F8FA" d="M480 140v220H280zM0 220V0h200z"/>
                                    <path fill="#FFF" d="M40 50h400v260H40z" style="mix-blend-mode:multiply;filter:url(#dropshadow-3)"/>
                                    <path fill="#FFF" d="M40 50h400v260H40z"/>
                                    <path fill="#FFF" d="M72 248h88v88H72zM180 24h80v160h-80z" style="mix-blend-mode:multiply;filter:url(#dropshadow-3)"/>
                                    <path fill="#FFF" d="M72 248h88v88H72zM180 24h80v160h-80z"/>
                                    <path fill="#FFF" d="M277.664 261.919l-18.113 15.745-15.746-18.113 18.113-15.745z" style="mix-blend-mode:multiply;filter:url(#dropshadow-3)"/>
                                    <path fill="#803bb3" d="M277.664 261.919l-18.113 15.745-15.746-18.113 18.113-15.745z"/>
                                    <path fill="#FFF" d="M315 129H215v100z" style="mix-blend-mode:multiply;filter:url(#dropshadow-3)"/>
                                    <path fill="#1E4D92" d="M315 129H215v100z"/>
                                    <circle fill="#FFF" cx="318" cy="219" r="32" style="mix-blend-mode:multiply;filter:url(#dropshadow-3)"/>
                                    <circle fill="#bb44c6" cx="318" cy="219" r="32" style="mix-blend-mode:multiply"/>
                                </svg>
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Profile</h3>
                                <p>Our Profile Match technology can help you find schools.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            
        </main>

{% endblock %}