{% extends "layout.html" %}
{%block content %}
            <section class="hero text-light text-center">
                <div class="container-sm">
                    <div class="hero-inner">
                        <h1 class="hero-title h2-mobile mt-0 is-revealing">Campus Now</h1>
                        <p class="hero-paragraph is-revealing">You're not sure where to begin your search for a college. Let us assist you.</p>
                        <p class="hero-cta is-revealing"><a class="button button-secondary button-shadow" href="{{ url_for('registration') }}">Get started now</a></p>
                        <div class="hero-media">
                            <img src ="static/img/img2.jpg" alt = "University of Rochester"></img>
                        </div>
                    </div>
                </div>
            </section>
            <section class="features-extended section">
                <div class="container">
                    <div class="features-extended-inner section-inner has-top-divider">
                        <div class="features-extended-header text-center">
                            <div class="container-sm">
                                <h2 class="section-title mt-0">Problem</h2>
                                <p class="section-paragraph">Students in high school often base their searches on the colleges they already know because it is difficult for them to find detailed information about other colleges.</p>
                            </div>
                            <hr>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src = "static/img/mission.jpg" width="480" height="360" viewBox="0 0 480 360"></img>
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Mission</h3>
                                <p>Our goal is to assist students in finding the best colleges for them. Each year, many students, both in the US and overseas, use our platform to select their schools. Sincere to say, nothing makes us happier than when students appreciate the work we do!</p>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src = "static/img/students.jpg" width="480" height="360" viewBox="0 0 480 360"></img>
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Search</h3>
                                <p>Our easy-to-use College Search tools, college profiles, and lists help students to find their perfect school.</p>
                            </div>
                        </div>
                        <div class="feature-extended">
                            <div class="feature-extended-image is-revealing">
                                <img src = "static/img/profile.jpg"  width="480" height="360" viewBox="0 0 480 360" ></img>
                            </div>
                            <div class="feature-extended-body">
                                <h3 class="mt-0">Profile</h3>
                                <p>Our Profile Match technology can help you find schools.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            
        </main>

{% endblock %}