{% extends "layout.html" %}
{%block content %}
<section class="hero text-center has-top-divider">
	<div class="container-sm">
		<div class="hero-inner">
			<div class="container-sm text-light" >
				<h2 class="section-title mt-0">Create your profile</h2>
				<p class="hero-cta is-revealing">It's simpler to connect you with schools the more information you provide.</p>
			</div>
			<form method="POST">
					<div class = "text-light">
						{{ form.hidden_tag() }}
                        <ul class="m-0" style="list-style: none;">
                            <h4> Personal Information</h4>
                            <label>Full name </label>
                            <li>
                                {{form.name}}
                            </li>
                            <label>Zipcode</label>
                            <li>
                                {{form.address}}
                            </li>
                            <label>Phone </label>
                            <li>
                                {{form.phone}}
                            </li>
                            <label style ="color:#5B6F82">Race</label>
                            <li>
                                {{form.race}}
                            </li> 
                            <label style ="color:#5B6F82">Gender</label>
                            <li>
                                {{form.gender}}
                            </li>  
                        </ul>
						<hr>
                    </div>
                    <div>
                        <ul class="m-0" style="list-style: none;">
                             <h4> Academics</h4>
                             <label style ="color:#5B6F82">High School</label>
                            <li>
                                {{form.highschool}}
                            </li>
                            <div style="height:200px; overflow:hidden; overflow-y:scroll;" class ="text-primary">
                                <ul id="school_list_og" class="m-0" style="list-style: none; display: none;">
                                    {% for school in highschools %}
                                        <hr>
                                        <li>{{ school['Name'] }}, {{ school['City'] }}, {{ school['State'] }}</li>
                                    {% endfor %}
                                </ul>
                                <ul id="school_list" class="m-0" style="list-style: none;">
                                    {% for school in highschools %}
                                        <hr>
                                        <li id="{{ school['Name'] }}, {{ school['City'] }}, {{ school['State'] }}">{{ school['Name'] }}, {{ school['City'] }}, {{ school['State'] }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                            <label style ="color:#5B6F82">GPA</label>
                            <li>
                                {{form.gpa}}
                            </li>
                            <label style ="color:#5B6F82">Standing</label>
                             <li>
                                {{form.standings}}
                            </li>
                            <label style ="color:#5B6F82">Grad Year</label>
                            <li>
                                {{form.grad_year}}
                            </li>
                            <label style ="color:#5B6F82">SAT Reading and Writing</label>
                            <li>
                                {{form.sat_reading_writing}}
                            </li>
                            <label style ="color:#5B6F82">SAT Math</label> 
                            <li>
                                {{form.sat_math}}
                            </li>
                            <label style ="color:#5B6F82">ACT Compositon</label>
                            <li>
                                {{form.act}}
                            </li>  
                        </ul>
                        <hr>
                        
                        <ul class="m-0" style="list-style: none;">
                            <h4> Interests</h4>
                            <label style ="color:#5B6F82">Preferred Major</label>
                            <li>
                                {{form.preferred_major}}
                            </li>
                            <label style ="color:#5B6F82">Alternate Major</label>
                            <li>
                                {{form.alternate_major}}
                            </li>
                            <label style ="color:#5B6F82">Sports</label>
                            <li>
                                {{form.sports}}
                            </li>
                            <label style ="color:#5B6F82">Religion</label>
                            <li>
                                {{form.religion}}
                            </li> 
                        </ul>
						<p> </p>
						<button class="button button-sm button-shadow" type="submit">Save Changes</a>
				    </div>
			</form>
		</div>
	</div>
</section>
<script>
    window.onload = () => {
        let schools = document.getElementById("school_list_og").querySelectorAll('li');
        for (let i = 0; i < schools.length; i++) {
            if (document.getElementById(schools[i].innerHTML)) {
                document.getElementById(schools[i].innerHTML).addEventListener('click', () => {
                    document.getElementById('highschool_input').value = schools[i].innerHTML;
                    filterSchools();
                });
            }
        }
    };
    
    document.getElementById('highschool_input').addEventListener('keyup', filterSchools);

    function filterSchools() {
        let schools = document.getElementById("school_list_og").querySelectorAll('li');
        let filteredSchools = [];
        let input = document.getElementById('highschool_input').value;
        for (let i = 0; i < schools.length; i++) {
            if (schools[i].innerHTML.toLowerCase().startsWith(input.toLowerCase())) {
                filteredSchools.push(schools[i].innerHTML);
            }
        }
        document.getElementById("school_list").innerHTML = '';
        for (let i = 0; i < filteredSchools.length; i++) {
            let newListItem = document.createElement('li');
            newListItem.setAttribute('id', filteredSchools[i]);
            newListItem.innerHTML = filteredSchools[i];
            newListItem.addEventListener('click', () => {
                document.getElementById('highschool_input').value = filteredSchools[i];
                filterSchools();
            });
            document.getElementById("school_list").appendChild(document.createElement('hr'));
            document.getElementById("school_list").appendChild(newListItem);
        }
    }
</script>
{% endblock %}