{% extends "layout.html" %}
{%block content %}
</style>
<section class="hero text-light text-center">
	<div class="container-sm">
		<div class="hero-inner">
			<div class="container-sm">
				<h2 class="section-title mt-0">Create Account</h2>
				<p class="hero-cta is-revealing">Start your search for your perfect campus or <a href="{{ url_for('login') }}">sign into your account</a></p>
			</div>
			<form method="POST">
					<div>
						{{ form.hidden_tag() }}
						<div>
							{{form.email}}
						</div>
						<p> </p>
						<div>
							{{form.password}}
						</div>
						<p> </p>
                        <div>
							{{form.password2}}
						</div>
						<p> </p>
						<button class="button button-sm button-shadow" type="submit">Join</a>
				    </div>
			</form>
		</div>
	</div>
</section>
{% endblock %}